@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-bg-color: #f5f5f5;
  font-size: clamp(0.9375rem, calc(0.9119rem + 0.8vw), 4rem);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  /* remove o sublinhado dos links */
  color: black;
  /* altera a cor de todos os links das páginas */
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

/*==================================
HEADER
====================================*/

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  gap: 30px;
  border: 1px solid #e5e5e5;
  margin: 2vw 0 0 0;
  border-radius: 20px;
  padding: 4px;
}

header nav ul li a {
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  display: block;
}

header nav ul li a.atual {
  background-color: black;
  color: white;
}

/*==================================
BANNER
====================================*/

section.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vw auto 0 auto;
  width: 80%;
  max-width: 800px;
}

section.banner h1 {
  width: 90%;
  font-size: 2.3rem;
  color: #1E1E1E;
}

section.banner h1 span {
  font-weight: bold;
  color: #1E1E1E;
}

section.banner p {
  color: #5A5A5A;
  font-size: 1rem;
  line-height: 1.5rem;
}


/*==================================
POSTS
====================================*/

section.posts {
  margin: 5vw auto 0 auto;
  width: 80%;
  max-width: 1000px;
}

section.posts>ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section.posts>ul>li {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 4px rgb(158, 157, 157);
  padding: 1vw;
}

section.posts>ul>li h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1.8vw;
}

section.posts>ul>li p {
  line-height: 1rem;
  color: #757575;
  margin: 1vw;
}

section.posts ul li a {
  background-color: #F5F5F5;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 10px 4px;
  display: inline-block;
  margin: 0.5vw ;
  font-weight:bold;
  font-size: 0.8rem;
}

section.posts>ul>li ul li {
  display: flex;
  gap: 20px;
}

section.posts>ul>li ul {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 5px;
}

footer {
  margin: 6vw auto 6vw auto;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 1vw;
  color: #7c7c7c;
  border: 1px solid #e5e5e5;

}

/* =======================================================================
ABOUT
==========================================================================*/



footer {
  margin: 5vw auto 2vw auto;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 1vw;
  color: #7c7c7c;
  border: 1px solid #e5e5e5;

}

/* ======================================================================
PROJECTS 
=========================================================================*/


section.projetos ul li.EcoCharge {
  margin: 2vw;
  padding: 2vw;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(158, 157, 157);
}

section.projetos h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 3vw;
}

section.projetos ul li.FinWise {
  margin: 2vw;
  padding: 2vw;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(158, 157, 157);
}

section.projetos ul li.SmartAgro {
  margin: 2vw;
  padding: 2vw;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(158, 157, 157);
}

section.projetos ul li.PicSphere {
  margin: 2vw;
  padding: 2vw;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(158, 157, 157);
}

section.projetos ul li.HealthTrack {
  margin: 2vw;
  padding: 2vw;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(158, 157, 157);
}

section.projetos ul li.MentalHub {
  margin: 2vw;
  padding: 2vw;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 4px rgb(158, 157, 157);
}

section.projetos p {
  display: flex;
  justify-content: center;
  padding: 2vw;
}

footer {
  margin: 5vw auto 2vw auto;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 1vw;
  color: #7c7c7c;
  border: 1px solid #e5e5e5;

}

/*====CONNECT====*/


section.connectfinal {
  margin: 5vw auto 0 auto;
  max-width: 1200px;
}

section.connectfinal ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section.connectfinal ul li {
  background-color: #fffffe;
  margin: 20px;
  padding: 1.8vw;
  border: #e5e5e5 2px solid;
  border-radius: 25px;
}


/* ====================================================
RESPONSIVIDADE
=======================================================*/
@media only screen and (max-width: 600px) {
  
  header nav ul {
    gap: 10px;
  }

  header nav ul li a {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  section.banner, section.posts, section.projetos {
    display: block;
    width: auto;
    margin: 0 5vw 0 5vw;
  }

  section.posts > ul {
    display: block;
  }

  section.posts > ul li {
    margin: 3vw 0 3vw 0;
  }

  section.projetos ul li {
    margin: 3vw 0 3vw 0;
  }

  section.projetos ul li h2 {
    margin: 2vw 0 2vw 0;
  }

  section.banner p {
    margin: 0 5vw 0 5vw;
  }
  section.banner h1 {
    margin: 0 5vw 0 5vw;
  }
  
}